@import '../../assets/scss/_variable/color.scss';

:local .ArrowPagination {
  display: inline-block;
  padding: 0;
  margin: 0;

  li {
    display: inline;
    i {
      font-size: 18px;
    }
  }

  .linkBtn {
    background: none !important;
    border: none;
    color: map-get($map: $defaultColors, $key: black) !important;
    cursor: pointer;
    outline: none;
    padding: 0 15px;
    text-decoration: none;
    &:hover {
      color: map-get($map: $defaultColors, $key: black) !important;
    }
    &.active {
      color: map-get($map: $defaultColors, $key: black) !important;
      font-weight: 600;
    }
    &:disabled {
      color: #d6d6d6 !important;
      cursor: auto;
    }
  }
}
