@import '../../../assets/scss/_variable/color.scss';
:local .tableBodyRow {
  display: table-row;
  border-radius: 100%;
  height: 38px;
  z-index: 5;
  cursor: pointer;
  &:hover {
    border-radius: 6px !important;
    background-color: map-get($map: $defaultColors, $key: info) !important;
  }
  &.oddBodyRow {
    background-color: map-get($map: $defaultColors, $key: white);
  }
  &.evenBodyRow {
    background-color: map-get($map: $defaultColors, $key: primary);
  }
}
