@import '../../../assets/scss/_variable/color.scss';

:local .underLineLabel {
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  color: #606060;
  font-size: 18px;
  font-weight: normal;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  width: 100%;

  .input {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    max-width: 500px;
    min-width: 300px;
    border: none;
    border-bottom: 1px solid map-get($map: $defaultColors, $key: main);
    outline: none;
    display: inline;

    &.error {
      border-bottom: 1px solid red !important;
    }
  }

  .bar {
    position: relative;
    display: block;
    width: 300px;

    &:before,
    &:after {
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
      background: map-get($map: $defaultColors, $key: main);
      bottom: 1px;
      content: '';
      height: 1.2px;
      position: absolute;
      transition: 0.2s ease all;
      width: 0;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }

    &.error {

      &:before,
      &:after {
        background: red;
      }
    }
  }

  /* active state */
  input:focus~.bar:before,
  input:focus~.bar:after {
    width: 50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    opacity: 0.5;
  }

  /* active state */
  .input:focus {
    -moz-animation: inputHighlighter 0.3s ease;
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
      from {
        background: #5264ae;
      }

      to {
        width: 0;
        background: transparent;
      }
    }

    @-moz-keyframes inputHighlighter {
      from {
        background: #5264ae;
      }

      to {
        width: 0;
        background: transparent;
      }
    }

    @keyframes inputHighlighter {
      from {
        background: #5264ae;
      }

      to {
        width: 0;
        background: transparent;
      }
    }
  }

  /* active state */
  .error:focus {
    -moz-animation: inputHighlighter 0.3s ease;
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
      from {
        background: red !important;
      }

      to {
        width: 0;
        background: transparent;
      }
    }

    @-moz-keyframes inputHighlighter {
      from {
        background: red !important;
      }

      to {
        width: 0;
        background: transparent;
      }
    }

    @keyframes inputHighlighter {
      from {
        background: red !important;
      }

      to {
        width: 0;
        background: transparent;
      }
    }
  }
}

:local .errorDiv {
  color: red;
  margin: 5px 0;
  display: inline;

  &.off {
    display: none;
  }
}
