@import '../_variable/color.scss';

@each $key,
$value in $defaultColors {
  .text-#{$key} {
    color: $value;
  }

  .#{$key} {
    background-color: $value;
  }

  .border-#{$key} {
    border: 1px solid $value;
  }
}
