@import '../../assets/scss/_variable/color.scss',
  '../../assets/scss/_variable/grid.scss',
  '../../assets/scss/_mixin/responsive.scss';

:local .card {
  border-radius: 8px;
  padding: 35px;
  margin: 10px;
  height: auto;
  background-color: #ffffff;
  @include responsive(sm) {
    height: auto;
  }
}
