@import '../../../assets/scss/_variable/grid.scss';
@import '../../../assets/scss/_variable/color.scss';

:local .navbar {
  background-color: map-get($map: $defaultColors, $key: white);
  border-bottom: 1px solid map-get($map: $defaultColors, $key: basic);
  top: 0;
  width: 100%;
  z-index: 100;
  height: $headerSize;
  position: fixed;
}
