@import '../../assets/scss/mixin/responsive.scss';
@import '../../assets/scss/variable/color';

.__Localize__Issue {
  bottom: 0;
  height: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  width: auto;

  .Title {
    color: map-get($map: $color_list, $key: black);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 14px;
    width: 100%;
  }

  .Description {
    color: map-get($map: $color_list, $key: black);
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
    width: 100%;
  }

  .Resolver {
    display: inline-block;
    margin: 15px 10px;
    width: 100%;
  }
}
