@import '../assets/scss/mixin/responsive.scss';
@import '../assets/scss/variable/color';

:local .checkBox {

  [type='checkbox']:not(:checked),
  [type='checkbox']:checked {
    position: absolute;
    left: -9999px;
  }

  [type='checkbox']:not(:checked)+span,
  [type='checkbox']:checked+span {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
  }

  /* checkbox aspect */
  [type='checkbox']:not(:checked)+span:before,
  [type='checkbox']:checked+span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid map-get($map: $color_list, $key: black);
    background: map-get($map: $color_list, $key: white);
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  [type='checkbox']:not(:checked)+span:after,
  [type='checkbox']:checked+span:after {
    color: map-get($map: $color_list, $key: primary);
    content: '\f00c';
    font-family: FontAwesome;
    font-size: 14px;
    left: 0.25em;
    line-height: 0.8;
    position: absolute;
    top: 0.35em;
    transition: all 0.3s;
    z-index: 5;
  }

  /* checked mark aspect changes */
  [type='checkbox']:not(:checked)+span:after {
    opacity: 0;
    transform: scale(0);
  }

  [type='checkbox']:checked+span:after {
    opacity: 1;
    transform: scale(1);
  }

  /* disabled checkbox */
  [type='checkbox']:disabled:not(:checked)+span:before,
  [type='checkbox']:disabled:checked+span:before {
    border-color: map-get($map: $color_list, $key: black);
    background-color: map-get($map: $color_list, $key: black);
  }

  [type='checkbox']:disabled:checked+span:after {
    color: map-get($map: $color_list, $key: black);
  }

  [type='checkbox']:disabled+span {
    color: map-get($map: $color_list, $key: black);
  }

  /* accessibility */
  [type='checkbox']:checked+span:before {
    border: 1px solid map-get($map: $color_list, $key: primary);
    transition: all 0.3s;
  }
}
