@import '../../assets/scss/mixin/responsive.scss';
@import '../../assets/scss/variable/color';

.__Localize__Card {
  border-radius: 6px;
  padding: 35px;
  margin: 10px;
  height: auto;
  background-color: map-get($map: $color_list, $key: white);
  @include responsive(sm) {
    height: auto;
  }
}
