@import '../../assets/scss/_variable/color.scss';

:local .InputConfirm {
  color: map-get($map: $color_list, $key: black);
  font-size: 16px;
  padding: 5px 30px;
  .input {
    width: 100%;
    max-width: 100%;
  }
  .errorMessageBox {
    width: 100%;
    color: map-get($map: $color_list, $key: danger);
    font-size: 14px;
    margin: 5px;
    &.off {
      display: none;
    }
  }
}
