$offset: 187;
$duration: 1.4s;

.__Localize {
  &.Spinner {
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .Spinner-SVG {
      animation: rotator $duration linear infinite;
    }
  }

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash $duration ease-in-out infinite,
      colors ($duration*4) ease-in-out infinite;
  }

  @keyframes colors {
    0% {
      stroke: #d0d2d7;
    }
    25% {
      stroke: #a9acb6;
    }
    50% {
      stroke: #969aa5;
    }
    75% {
      stroke: #838794;
    }
    100% {
      stroke: #666b7b;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: $offset;
    }
    50% {
      stroke-dashoffset: $offset/4;
      transform:rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform:rotate(450deg);
    }
  }
}
