.Localize__Components {
  &.dropdown-search {
    width: 100%;
    position: relative;
    .dropdown-search-icon {
      position: absolute;
      left: 7px;
      top: 11px;
    }
    .dropdown-search-input {
      width: 100%;
      position: relative;
    }
    .dropdown-search-list {
      position: absolute;
      z-index: 40;
      .dropdown-search-disabled {
        cursor: default
      }
      .dropdown-search-spinner {
        width: 100%;
        position: relative;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
