:local .icon {
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: -moz-box;
  -moz-box-align: center;
  margin: 0px;
  padding: 0px;
  height: auto;
  width: auto;
  &.center {
    justify-content: center;
  }
  &.left {
    padding: 0 10px 0 5px;
    justify-content: left;
  }
  &.right {
    padding: 0 5px 0 10px;
    justify-content: right;
  }
}
