@import '../../assets/scss/_variable/grid.scss';

:local .navbar {
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  top: 0;
  width: 100%;
  z-index: 100;
  height: $navbarSize;
  position: fixed;
}
