@import '../../../assets/scss/mixin/responsive.scss';
@import '../../../assets/scss/variable/color';

$headerSize: 60px;

.__Localize__Navbar {
  background-color: map-get($map: $color_list, $key: white);
  border-bottom: 1px solid map-get($map: $color_list, $key: basic);
  top: 0;
  width: 100%;
  z-index: 100;
  height: $headerSize;
  position: fixed;
}
