@import '../../assets/scss/_mixin/animation.scss';
@import '../../assets/scss/_variable/color.scss';

// ball size
$width: 15px;
$height: 15px;
// ball jump heignt
$bounce_height: 30px;

:local .root {
  margin: auto;
  width: 100%;
  .wrap {
    text-align: center;
    width: 100%;
  }
  .text {
    color: map-get($map: $defaultColors, $key: main);
    display: inline-block;
    margin-left: 5px;
  }
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: $width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: map-get($map: $defaultColors, $key: main);
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}
