@import '../../assets/scss/_variable/color.scss';

:local .Chip {
  background-color: map-get($map: $defaultColors, $key: gray);
  border-radius: 6px;
  border: 1px solid map-get($map: $defaultColors, $key: gray);
  color: map-get($map: $defaultColors, $key: white);
}
