// scss 문법에 맞게 수정해야함
ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: #878d91;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
  transition: color 0.2s;
}

ul.pagination li a > i {
  font-size: 18px;
}

ul.pagination li a.active {
  color: #4c80f1;
  font-weight: 400;
  transition: background 0.2s;
}
