@import '../_variable/grid.scss';
.row::after {
  content: '';
  clear: both;
  display: table;
}

[class*='col-'] {
  padding: 10px;
}

[class*='just-col-'] {
  padding: 0px;
}

$col: 5%;
@for $i from 1 through 20 {
  .col-#{$i} {
    width: $col * $i;
  }
  .just-col-#{$i} {
    width: $col * $i;
  }
}

@media only screen and (max-width: map-get($map: $breakpoints, $key: md)) {
  /* For mobile phones: */
  [class*='col-'] {
    float: left;
    padding: 10px;
    width: 100%;
  }
  [class*='just-col'] {
    float: left;
    padding: 0px;
    width: 100%;
  }
}
