@import '../_variable/color.scss';
@import '../_variable/grid.scss';
@import '../_variable/font-size.scss';
@import '../_mixin/responsive.scss';

// h1 ~ h6
@each $key, $value in $headings {
  #{$key} {
    margin: 10px 0;
    line-height: 1.5em;
    font-size: $value;
  }
}

@each $key, $value in $defaultColors {
  // Text Color
  .text-#{$key}-lighten {
    color: $value;
  }

  .text-#{$key} {
    color: $value;
  }

  .text-#{$key}-darken {
    color: $value;
  }
}
