

@import '../../assets/scss/mixin/responsive.scss';
@import '../../assets/scss/variable/color';

:local .tab {
  border-bottom: 2px solid transparent;
  color: map-get($map: $color_list, $key: gray);
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 15px 35px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:focus {
    outline: none;
  }
}
