

@import '../../assets/scss/mixin/responsive.scss';
@import '../../assets/scss/variable/color';


:local .Tab {
  border-bottom: none;
  border: 0.5px solid map-get($map: $color_list, $key: gray);
  color: map-get($map: $color_list, $key: black);
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 15px 35px;
  text-align: center;
  text-overflow: ellipsis;
  transition: border-color 0.5s, color 0.5s;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }

  @each $key, $value in $color_list {
    &.on-#{$key} {
      color: $value;
      font-weight: 600;
      border-bottom: 2px solid $value;
    }
  }
}

:local .off {
  display: none;
}
