:local .cell {
  text-align: center;
  border: 0px solid #999999;
  display: table-cell;
  padding: 5px 10px;
  &.active {
    border-radius: 5px;
    background-color: rgba(196, 188, 255, 0.15);
  }
}
