:local .TableBodyRows {
  display: table-row-group; // like 'tbody'
  position: relative;

  .BodyRow {
    display: table-row; // like 'tr'
    font-size: 13px;
    background-color: #fff;
    z-index: 5;
    &:hover {
      background-color: #f3f3f3;
    }
    &.oddRow {
      background-color: #fff;
    }
    &.evenRow {
      background-color: #f3f3f3;
    }
  }
}
