@import '../../assets/scss/_variable/color.scss';

:local .Chip {
  display: block;
  background-color: map-get($map: $defaultColors, $key: gray);
  border-radius: 6px;
  border: 1px solid map-get($map: $defaultColors, $key: gray);
  color: map-get($map: $defaultColors, $key: white);
  &:hover {
    background-color: map-get($map: $defaultColors, $key: gray);
  }
  @each $key, $value in $defaultColors {
    &.chip-#{$key} {
      background-color: $value;
      border-color: $value;
      &:hover {
        background-color: darken($color: $value, $amount: 5);
      }
    }
  }

  .iconWrapper {
    display: inline-block;
    margin: 5px;
    width: auto;
    height: auto;
  }


}
